<div class="title">@Yosmar<b>Code</b></div>
<div class="container">
   

    <div class="card">
        <h1>1</h1>
    </div>
    <div class="card">
        <h1>2</h1>
    </div>
    <div class="card">
        <h1>3</h1>
    </div>
    <div class="card">
        <h1>4</h1>
    </div>
</div>


<style>
    .container {
        display: grid;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
    }

    .card {
        background-color: #87867e;
        max-height: 250xp;
        padding: 10px;
        text-align: center;
        
    }

    h1 {
        font-size: 25px;
        color: black;
        font-weight: 800;
    }

    .title {
        font-size: 3em;
        color: white;
        width: 100%;
        padding-top: 150px;
        text-align: center;
    }
    .title b {
        color: #FFF159;
    }
</style>